<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477395312345-q6agh26l7h5f2pqn3eamq13ks66g1g2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477395312345-q6agh26l7h5f2pqn3eamq13ks66g1g2d</string>
	<key>API_KEY</key>
	<string>AIzaSyAms5YU9pQnNdjEOyjuXW11aPzW4frXImU</string>
	<key>GCM_SENDER_ID</key>
	<string>477395312345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esamudaay.agent</string>
	<key>PROJECT_ID</key>
	<string>esamudaay-customer</string>
	<key>STORAGE_BUCKET</key>
	<string>esamudaay-customer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477395312345:ios:e2e2ffcf689b1ff666e8c8</string>
	<key>DATABASE_URL</key>
	<string>https://esamudaay-customer.firebaseio.com</string>
</dict>
</plist>